.button_style {
    color: #fff;
    border: none;
    text-decoration: none;
    user-select: none;
    background-color: #4CAF50;
    padding: .7em 1.5em;
    outline: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.button_style:hover {
    background-color: #79cf7c;
    color: white;
    border: none;
    outline: none;
}

.button_style:focus {
    border: none;
    outline: none;
}

.button_style:active {
    border: none;
    outline: none;
    background: #018005;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

header {
    text-align: center;
    height: 10%;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
    color: #034405;
    font-size: 8vh;
}

section#change_username_sect {
    background-color: rgb(163, 255, 224);
    height: 10%;
}

section#chatroom {
    /* border: 3px solid lightblue; */
    height: 70%;
    overflow: auto;
}

section#input_zone {
    height: 10%;
    text-align: center;
    background-color: rgb(163, 255, 224);
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    margin-left: 10px;
    display: inline-block;
    font-family: 'Comfortaa', sans-serif;
    height: 80%;
    font-size: 3vh;
    /* float: left;
    display: inline-block;
    margin-left: 10px;
    min-width: 70%;
    max-width: 75%;
    height: 80%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3vh; */
}

button#send_username {
    display: inline-block;
    height: 80%;
}

input#message {
    float: left;
    display: inline-block;
    margin-left: 10px;
    min-width: 70%;
    max-width: 75%;
    height: 80%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3vh;
}

button#send_message {
    float: left;
    margin-left: 10px;
    display: inline-block;
    height: 80%;
    width: 120px;
}

.alert {
    padding: 10px;
    margin: 12px;
    width: auto;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: rgb(87, 113, 230);
}

.message:nth-child(odd) {
    background-color: rgb(87, 113, 230);
}
